@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.Projects;

<div id=@Targets.List>
    <DataTable TResult=ListProjects.Result
               Result=@Result
               Context="item">
        <TableHeader>
            <th></th>
            <th>Name</th>
        </TableHeader>
        <RowTemplate>
            <RowToolbar>
                <Actions>
                    <ActionLink HtmxProps=@(new HtmxProps(Endpoints.GetEdit(item.ClientId, item.ProjectId), Infrastructure.Ui.Targets.Dialog))
                                Icon=@Icons.Edit />
                </Actions>
            </RowToolbar>
            <td>@item.Name</td>
        </RowTemplate>
    </DataTable>
    <Pagination Query=@Query
                Result=@Result
                HtmxProps=@(new HtmxProps(Endpoints.GetList(Query.ClientId!.Value),$"#{Targets.List}", Swap.OuterHTML)) />
</div>

@code {
    [Parameter, EditorRequired]
    public ListResults<ListProjects.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListProjects.Query Query { get; set; } = default!;

}
