@using WebAPI.Collaborators;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<Heading Text="Collaborators" />
<Breadcrumbs Links=@(new Breadcrumbs.Link[]{ new("List collaborators", Endpoints.List.AddListParameters()), new("Edit collaborator") })
             Target=@(Infrastructure.Ui.Targets.Workspace) />
<Section>
    <Content>
        <Form HtmxProps=@(new HtmxProps(Endpoints.GetEdit(@Result.CollaboratorId),Infrastructure.Ui.Targets.Workspace))>
            <Content>
                <FormRow>
                    <Content>
                        <div class="col">
                            <TextInput Property=@nameof(EditCollaborator.Command.Name)
                                       Label="Name"
                                       Placeholder="Enter name"
                                       Value=@Result.Name
                                       MaxLenght=100
                                       Required=true />
                        </div>
                    </Content>
                </FormRow>
                <FormRow>
                    <Content>
                        <div class="col">
                            <NumberInput Property=@nameof(EditCollaborator.Command.WithholdingPercentage)
                                         Label="Withholding percentage"
                                         Placeholder="Enter withholding percentage"
                                         Sufix="%"
                                         Max=100
                                         Min=0
                                         Step=0.01m
                                         Value=@Result.WithholdingPercentage
                                         Required=true />
                        </div>
                    </Content>
                </FormRow>
            </Content>
        </Form>
    </Content>
</Section>

@code {
    [Parameter, EditorRequired]
    public GetCollaborator.Result Result { get; set; } = default!;
}
