@using WebAPI.Collaborators;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using global::Infrastructure

<Heading Text=@Endpoints.Title />
<Breadcrumbs Links=@(new []{new Breadcrumbs.Link(Endpoints.ListTitle)})
             Target=@(Infrastructure.Ui.Targets.Workspace) />
<Toolbar>
    <Actions>
        <ActionButton Text=@Endpoints.RegisterTitle
                      Icon=@Icons.Add
                      HtmxProps=@(new HtmxProps(Endpoints.Register, Infrastructure.Ui.Targets.Workspace)) />
    </Actions>
</Toolbar>
<Section>
    <Content>
        <FormRow>
            <Content>
                <div class="col">
                    <SearchFilter Label="Name"
                                  Property=@nameof(ListCollaborators.Query.Name)
                                  Query=@Query
                                  HtmxProps=@(new HtmxProps(Endpoints.List, $"#{Targets.List}", Swap.OuterHTML, $"#{Targets.List}")) />
                </div>
            </Content>
        </FormRow>
        <div id=@Targets.List>
            <DataTable TResult=ListCollaborators.Result
                       Result=@Result.Items
                       Context="item">
                <TableHeader>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th class="text-end">Withholding Percentage</th>
                </TableHeader>
                <RowTemplate>
                    <RowToolbar>
                        <Actions>
                            <ActionLink HtmxProps=@(new HtmxProps(Endpoints.GetEdit(@item.CollaboratorId), Infrastructure.Ui.Targets.Workspace))
                                        Icon=@Icons.Edit />
                        </Actions>
                    </RowToolbar>
                    <td>@item.CollaboratorId</td>
                    <td>@item.Name</td>
                    <td class="text-end">@item.WithholdingPercentage.ToPercentageFormat()</td>
                </RowTemplate>
            </DataTable>
            <Pagination Query=@Query
                        Result=@Result
                        HtmxProps=@(new HtmxProps(Endpoints.List, $"#{Targets.List}", Swap.OuterHTML, $"#{Targets.List}"))
                        Parameters=@(new []{ new KeyValuePair<string, object?>(nameof(Query.Name), Query.Name)}) />
        </div>
    </Content>
</Section>
@code {
    [Parameter, EditorRequired]
    public ListResults<ListCollaborators.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListCollaborators.Query Query { get; set; } = default!;
}
