@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.CollaboratorRoles;
@using WebAPI.Proformas

<Heading Text="Transactions" />
<Breadcrumbs Links=@(new Breadcrumbs.Link[]{ new("List transaction", Endpoints.List.AddListParameters()), new("Edit Transaction") })
             Target=@(Infrastructure.Ui.Targets.Workspace)>
    <MenuItems>
        <MenuItem Text="Upload document"
                  HtmxProps=@(new HtmxProps(Endpoints.GetUpload(Result.TransactionId), Infrastructure.Ui.Targets.Dialog)) />
    </MenuItems>
</Breadcrumbs>
<Toolbar>
    <Actions>
        <Divider />
        <Link Property=@nameof(GetTransaction.Result.DocumentUrl)
              Value="View"
              Href=@Result.DocumentUrl
              IsDisabled=@(string.IsNullOrEmpty(Result.DocumentUrl))
              Label="PDF" />
        <Divider />
    </Actions>
</Toolbar>
<Section>
    <Content>
        <Form HtmxProps=@(new HtmxProps(Endpoints.GetEdit(@Result.TransactionId),Infrastructure.Ui.Targets.Workspace))>
            <Content>
                <FormRow>
                    <Content>
                        <div class="col">
                            <TextInput Property=@nameof(RegisterTransaction.Command.Description)
                                       Label="Description"
                                       Placeholder="Enter description"
                                       MaxLenght=1000
                                       Value=@Result.Description
                                       Required=true />
                        </div>
                    </Content>
                </FormRow>
                <FormRow>
                    <Content>
                        <div class="col-4">
                            <SelectInput Property=@nameof(RegisterTransaction.Command.Type)
                                         Label="Type"
                                         Source=@(Enum.GetValues<TransactionType>().ToDictionary(i=>i.ToString(), i=>i.ToString()))
                                         Value=@Result.Type
                                         Required=true>
                            </SelectInput>
                        </div>
                        <div class="col-4">
                            <TextInput Property=@nameof(RegisterTransaction.Command.Number)
                                       Label="Number"
                                       Placeholder="Enter number"
                                       MaxLenght=50
                                       Value=@Result.Number
                                       Required=true />
                        </div>
                        <div class="col-4">
                            <DateInput Property=@nameof(RegisterTransaction.Command.IssuedAt)
                                       Label="Issued at"
                                       Value=@Result.IssuedAt.ToString("yyyy-MM-dd")
                                       Required=true />
                        </div>
                    </Content>
                </FormRow>
                <FormRow>
                    <Content>
                        <div class="col-3">
                            <SelectInput Property=@nameof(RegisterTransaction.Command.Currency)
                                         Label="Currency"
                                         Source=@(Enum.GetValues<Currency>().ToDictionary(i=>i.ToString(), i=>i.ToString()))
                                         Value=@Result.Currency
                                         Required=true>
                            </SelectInput>
                        </div>
                        <div class="col-3">
                            <NumberInput Property=@nameof(RegisterTransaction.Command.SubTotal)
                                         Label="Sub total"
                                         Placeholder="Enter subtotal"
                                         Prefix="$"
                                         Min=0.01m
                                         Step=0.01m
                                         Value=@Result.SubTotal
                                         Required=true />
                        </div>
                        <div class="col-3">
                            <NumberInput Property=@nameof(RegisterTransaction.Command.Taxes)
                                         Label="Taxes"
                                         Placeholder="Enter taxes"
                                         Prefix="$"
                                         Min=0
                                         Step=0.01m
                                         Value=@Result.Taxes
                                         Required=true />
                        </div>
                        <div class="col-3">
                            <NumberInput Property=@nameof(GetTransaction.Result.Total)
                                         Label="Total"
                                         Placeholder="Enter total"
                                         Prefix="$"
                                         Min=0.01m
                                         Step=0.01m
                                         Value=@Result.Total
                                         Readonly=true />
                        </div>
                    </Content>
                </FormRow>
            </Content>
        </Form>
    </Content>
</Section>

@code {
    [Parameter, EditorRequired]
    public GetTransaction.Result Result { get; set; } = default!;
}
