@using WebAPI.Clients;
@using WebAPI.CollaboratorRoles
@using WebAPI.Collaborators
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<ModalForm HtmxProps=@(new HtmxProps(Endpoints.GetUpload(TransactionId), Infrastructure.Ui.Targets.Workspace)
           { Encoding="multipart/form-data"})
           Title="Upload document">
    <Content>
        <FormRow>
            <Content>
                <div class="col">
                    <UploadFileInput Property="File"
                                     Required=true />
                </div>
            </Content>
        </FormRow>
    </Content>
</ModalForm>

@code {
    [Parameter, EditorRequired]
    public Guid TransactionId { get; set; } = default;
}
