@if (IsDisabled)
{
    <button type="button"
            hx-get=@HtmxProps.Endpoint
            hx-target=@HtmxProps.Target
            hx-swap=@HtmxProps.Swap
            class="@Icon btn btn-primary"
            disabled>
        @Text
    </button>
}
else
{
    <button type="button"
            hx-get=@HtmxProps.Endpoint
            hx-target=@HtmxProps.Target
            hx-swap=@HtmxProps.Swap
            class="@Icon btn btn-primary">
        @Text
    </button>
}

@code {
    [Parameter, EditorRequired]
    public string Text { get; set; } = default!;
    [Parameter]
    public string Icon { get; set; } = string.Empty;
    [Parameter, EditorRequired]
    public HtmxProps HtmxProps { get; set; } = default!;
    [Parameter]
    public bool IsDisabled { get; set; } = false;
}
