@if (string.IsNullOrEmpty(Prefix) && string.IsNullOrEmpty(Sufix))
{
    <div class="form-group">
        <label for=@Property>@Label</label>
        @if (Required)
        {
            <input type="number"
                   class="form-control text-end"
                   id=@Property
                   name=@Property
                   placeholder=@Placeholder
                   value=@Value
                   step=@Step
                   min=@Min
                   max=@Max
                   required />
        }
        else
        {
            <input type="number"
                   class="form-control text-end"
                   id=@Property
                   name=@Property
                   placeholder=@Placeholder
                   value=@Value
                   step=@Step
                   min=@Min
                   max=@Max />
        }
    </div>
}
else
{
    <div class="form-group">
        <label for=@Property>@Label</label>
        <div class="input-group">
            @if (!string.IsNullOrEmpty(Prefix))
            {
                <span class="input-group-text">@Prefix</span>
            }
            @if (Required)
            {
                <input type="number"
                       class="form-control text-end"
                       id=@Property
                       name=@Property
                       placeholder=@Placeholder
                       value=@Value
                       step=@Step
                       min=@Min
                       max=@Max
                       required />
            }
            else
            {
                <input type="number"
                       class="form-control text-end"
                       id=@Property
                       name=@Property
                       placeholder=@Placeholder
                       value=@Value
                       step=@Step
                       min=@Min
                       max=@Max />
            }
            @if (!string.IsNullOrEmpty(Sufix))
            {
                <span class="input-group-text">@Sufix</span>
            }

        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public string Property { get; set; } = default!;
    [Parameter, EditorRequired]
    public string Label { get; set; } = default!;
    [Parameter, EditorRequired]
    public string Placeholder { get; set; } = default!;
    [Parameter]
    public string Prefix { get; set; } = default!;
    [Parameter]
    public string Sufix { get; set; } = default!;
    [Parameter]
    public object Value { get; set; } = default!;
    [Parameter]
    public decimal? Max { get; set; } = default!;
    [Parameter]
    public decimal? Min { get; set; } = default!;
    [Parameter]
    public decimal? Step { get; set; } = default!;
    [Parameter]
    public bool Required { get; set; } = default!;
}
