<div class="col-2 p-3 bg-dark" style="height: 95vh">
    <ul class="nav nav-pills d-flex flex-column mb-auto">
        @Items
    </ul>
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment? Items { get; set; } = default!;
}
